<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net46" />
  <package id="NuProj.Common" version="0.10.4-beta" targetFramework="net46" developmentDependency="true" />
</packages>